<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?&sensor=false">
    </script>
    <script type="text/javascript">
    function geo() {
        var myOptions = {
          center: new google.maps.LatLng(0,0 ),
          zoom: 1,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
 

    <% @trip.sites.each do |site| %>
        var latitude = <%= site.latitud %>
        var longitude = <%= site.longitud %>
        var zoom = <%= site.zoom %>
        zoom=zoom-2;
        var image = new google.maps.MarkerImage ("<%= asset_path(site.image) %>",
                new google.maps.Size(100,150),
                new google.maps.Point(0,0),
                new google.maps.Point(0,50));

        var latlng = new google.maps.LatLng(latitude,longitude);
        var myOptions = {
          center: latlng,
          zoom: zoom,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map.setOptions(myOptions);
        var marker = new google.maps.Marker({
position: latlng,
map: map,
           icon: image
        });

    <% end %>
    }
    </script>
</head>
 <body onload="geo()">
    <div id="map_canvas" style="width: 900px; height: 480px;"></div>