<!DOCTYPE html>
<div class="geo_trip">
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?&sensor=false">
    </script>
    <script type="text/javascript">
    function geoTrip() {
        var myOptions = {
          center: new google.maps.LatLng(0,0 ),
          zoom: 1,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
 

		<% @trip.sites.each do |site| %>
			var latitude = <%= site.latitud %>
			var longitude = <%= site.longitud %>
			var image = "<%= asset_path(site.image) %>";
			var titulo = "<%= site.name %>"

			var latlng = new google.maps.LatLng(latitude,longitude);
    
			var marker = new google.maps.Marker({
				position: latlng,
				map: map,
				icon: image,
				title: titulo
			});

		<% end %>
    }
    </script>
</head>
<body onload="geoTrip()">
    <div id="map_canvas" style="width: 500px; height: 500px;"></div>
</body>
</html>
</div>