<div id="site_list"> 

  <table>  
      <td class="list_description"> 
        <dl> 
          <dt><%= comment.user_id %></dt>
          <dd></p><%= truncate(strip_tags(comment.coment),
                 :length => 240) %></dd>
        </dl> 
      </td>

      <td class="list_actions"> 
        <% if comment.user == current_user %>
          <%= link_to 'Edit',  edit_site_comment_path(comment.site, comment)  %><br/>
          <%= link_to 'Destroy', [comment.site, comment], 
                    :confirm => 'Are you sure?',
                    :method => :delete %>
      </td> 
    </tr> 
  <% end %>
  </table> 
</div> 
