  <p>
    <b>Commenter:</b>
    <%= comment.user.name %>
  </p>
 
  <p>
    <b>Comment:</b>
    <%= comment.comment %>
  </p>

  <p>
  <% #if (comment.user_id == current_user.id) %>
  <%= link_to 'Destroy Comment', [comment.site, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
  <% #end %>
</p>