<div id="comment_list"> 

	<tr>
      <td class="comments"> 
        <dl> 
		  <% if comment.comment != nil %>
		  <dt><b><%= comment.user.name %>:</b>
		  <%= truncate(strip_tags(comment.comment), :length => 240) %></dt>
		  <% end %>
        </dl> 
      </td>

      <td class="list_actions"> 
        <% if comment.user == current_user %>
          <%= link_to 'Edit',  edit_site_comment_path(comment.site, comment)  %><br/>
          <%= link_to 'Destroy', [comment.site, comment], 
                    :confirm => 'Are you sure?',
                    :method => :delete %>
		<% end %>
      </td> 
	</tr>

</div> 
