  <p>
    <b><%= comment.user.name %>:</b>     
    <%= comment.comment %>
  </p>

  <p>
  <% if (comment.user_id == current_user.id) %>
  <%= link_to 'Edit', [comment.site, comment] %>
  <%= link_to 'Destroy', [comment.site, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
  <% end %>
</p>