<div id = "comment">
<table>
<tr> 
	<td>
	<b class = "name"><%= comment.user.name %>:</b><br>
	<i><%= comment.comment %></i><br>

	<% if current_user != nil %>
		<% if (comment.user_id == current_user.id) or (current_user.name == 'admin') %>
			<%= link_to 'Editar', edit_site_comment_path(@site,comment) %> | 
			<%= link_to 'Borrar', [comment.site, comment],
				:confirm => 'Seguro?',
				:method => :delete %>
		<% end %>
	<% end %>
	</td>
</tr>
<br>
</table>
</div>