<%= form_for([@site, @site.comments.build]) do |f| %>
	<div class="field">    	
   		<%= f.text_area :comment, :rows=> 3 %>
  	</div>
  	
  <div class="actions">
    	<%= f.submit "Nuevo Comentario"%>
  </div>
<% end %>