<<<<<<< HEAD
=======
<h1>Editing site</h1>

>>>>>>> b99503f08cc204480f05572e31c865d1d1601d6f
<%= form_for([@site, @comment]) do |f| %>
	<div class="field">
		<%= f.text_area :comment %>
	</div>
	<div class="actions">
    	 <%= f.submit %>
  	</div>
<% end %>