<h1>Comentarios de <%= @site.name %></h1> 

<div id="site_list">
  <%= render(@site) %>
</div>

<% if current_user %>
  <p><b>Añada su comentario</b></p>
  <%= render 'form' %>
<% end %>

<div id='options'>
  <%= link_to 'Back', sites_path %>
</div>