<h1>Authors Planet Travel Site</h1>

<strong><p> Esta página ha sido elaborada por:</p></strong>

<p> 
<%= image_tag('eva.JPG') %> <br>
    <u>Nombre</u>: Eva Suárez Alba <br>
    <u>Dirección</u>: Madrid <br>
    <u>CV</u>: Estudiante Ingeniería de Telecomunicaciones <br>
    <u>e-mail</u>:<a href="mailto:eva.suarez.alba@alumnos.upm.es"> 
        eva.suarez.alba@alumnos.upm.es</a>
</p>
<p>
<%= image_tag('Jorge.png') %> <br>
    <u>Nombre</u>: Jorge Valhondo Rama <br>
    <u>Dirección</u>: Madrid <br>
    <u>CV</u>: Estudiante Ingeniería de Telecomunicaciones <br>
    <u>e-mail</u>:<a href="mailto:j.valhondo@alumnos.upm.es"> 
        j.valhondo@alumnos.upm.es</a>
</p>

