<h1>Authors</h1>

<div id = "autor1">

 	<div class = "foto1">
		<%= image_tag('alvaro.jpg') %>
	</div>

	<div class = "datos1">
		<p><b>Álvaro Sánchez Bravo</b></p>
		<p>Las Rozas, Madrid</p>
		<p>
			E-mail: <a href = "mailto:a.sanchezb@alumnos.upm.es">a.sanchezb@alumnos.upm.es</a>
		</p>
	</div>

	<div class = "cv1">
		<p><b>Curriculum Vitae</b></p>
		<p>Studies: Telecommunication Engineering at Technical University of Madrid</p>
		<p>Courses:
			<ul>
				<li> 2012: <i>Habilidades profesionales</i> - four hours course by the prestigious enterprise Accenture with certificate. </li>
				<li> 2010: <i>Los Recursos Humanos en la Empresa: Desarrollo de Habilidades</i> - course by Technical University of Madrid about success in job interviews and passing application processes.</li>
			</ul>
		</p>
		<p>Languages:
			<ul>
				<li>Spanish: mother tongue</li>
				<li>English: advanced</li>
				<li>French: basic</li>
			</ul>
		</p>
	</div>

</div>

<div id = "autor2">

	<div class = "foto2">
		<%= image_tag('pedro.jpg') %><p>
	</div>

	<div class = "datos2">
		<p><b>Pedro Merlo Feter</b></p>
		<p>Tres Cantos, Madrid</p>
		<p>
			E-mail: <a href = "mailto:p.merlofeter@gmail.com">p.merlofeter@gmail.com</a>
		</p>
	</div>

	<div class = "cv2">
		<p><b>Curriculum Vitae</b></p>
		<p>Studies: Telecommunication Engineering at Technical University of Madrid</p>
		<p>Languages:
			<ul>
				<li>Spanish: mother tongue</li>
				<li>English: advanced</li>
				<li>French: medium</li>
				<li>German: basic</li>
			</ul>
		</p>
	</div>

</div>