<h1>Authors</h1>
<br>
<%= image_tag('alvaro.jpg') %><p>
<b>Álvaro Sánchez Bravo</b><p>
Las Rozas, Madrid<p>
E-mail: <a href = "mailto:a.sanchezb@alumnos.upm.es">a.sanchezb@alumnos.upm.es</a><p>
<b>Curriculum Vitae</b><p>
Studies: Telecommunication Engineering at Technical University of Madrid<p>
Courses:<p>
<ul>
	<li> 2012: <i>Habilidades profesionales</i> - four hours course by the prestigious enterprise Accenture with certificate. </li>
	<li> 2010: <i>Los Recursos Humanos en la Empresa: Desarrollo de Habilidades</i> - course by Technical University of Madrid about success in job interviews and passing application processes.</li>
</ul>
Languages:<p>
<ul>
	<li>Spanish: mother tongue</li>
	<li>English: advanced</li>
	<li>French: basic</li>
</ul>
<br>
<%= image_tag('pedro.jpg') %><p>
<b>Pedro Merlo Feter</b><p>
Tres Cantos, Madrid<p>
E-mail: <a href = "mailto:p.merlofeter@gmail.com">p.merlofeter@gmail.com</a><p>
<b>Curriculum Vitae</b><p>
Studies: Telecommunication Engineering at Technical University of Madrid<p>
Languages:<p>
<ul>
	<li>Spanish: mother tongue</li>
	<li>English: advanced</li>
	<li>French: medium</li>
	<li>German: basic</li>
</ul>