<h1> Autores </h1>

<%= image_tag 'edu.jpg', {:width => "8%"}%>
<h2> Eduardo González Martín </h2>
Dirección: Hilarión Eslava 47, Madrid
<br>e-mail: edukun@gmail.com

<ul>
    <li> Estudios: Ingeniero de Telecomunicaciones por la <b>Universidad Politécnica de Madrid</b> </li>
    <li> Experiencia Profesional: 
								<ul>
									<li><b>Software Development Engineer</b> en <b>Geozyt Aplicaciones Móviles</b>, www.mitmiapp.com </li>
									<li><b>Becario de Grado</b> en <b>Grupo de Sistemas Inteligentes</b> en proyecto <b>VULNERANET</b></li>
								</ul>
	</li>
    <li> Idiomas: <ul>
					<li> Español </li>
					<li> Inglés </li>
					<li> Francés </li>
				  </ul>
		</li>
</ul>

<%= image_tag 'mmc.jpg', {:width => "8%"}%>
<h2> Manuel Márquez Calvet </h2>
Dirección: Camino de la Huerta, Madrid
<br>e-mail: manumarquez89@gmail.com

<ul>
    <li> Estudios: Ingeniero de Telecomunicaciones por la <b>Universidad Politécnica de Madrid</b> </li>
    <li> Experiencia Profesional: <b>Becario Top Talent</b> en <b>Accenture</b>, Consultoría Tecnológica </li>
    <li> Idiomas: <ul>
					<li> Español </li>
					<li> Inglés </li>
					<li> Alemán </li>
					</ul>
		</li>
</ul>

<p>
