<h1>Authors</h1>
<%= image_tag('pedro.jpg') %>
<p><b>Pedro Merlo Feter</b>
<p>Tres Cantos, Madrid
<p>p.merlofeter@gmail.com
<br>
<p><b>Curriculum Vitae</b>
<p> Studies: Telecommunication Engineering at Technical University of Madrid
<p> Languages:
	<ul>
		<li>Spanish
		<li>English
		<li>French
		<li>German
	</ul>
