<h1>Author</h1>

<p>
<%= image_tag('fran.jpg') %><br>
Name: Francisco Ayala Serrano<br>
Address: Calle Falsa 123, 28001 Madrid<br>
<a href="mailto:f.ayala@alumnos.upm.es">e-mail</a><br>
Curriculum: estudiante de Ingeniería de Telecomunicación.
</p>
<p>
<%= image_tag('mandi.jpg') %></br>
Name: Jose Francisco Barea López<br>
Address: Calle Falsa 123, 28001 Madrid<br>
<a href="mailto:jf.barea@alumnos.upm.es">e-mail</a><br>
Curriculum: estudiante de Ingeniería de Telecomunicación y pensador.
</p>
