<h1>Authors</h1>
<br>
<%= image_tag('alvaro.jpg') %><p>
<b>Álvaro Sanchez Bravo</b><p>
Las Rozas, Madrid<p>
a.sanbravo@gmail.com<p>
<b>Curriculum Vitae</b><p>
Studies: Telecommunication Engineering at Technical University of Madrid<p>
Languages: Spanish, English, French, German<p>
<br>
<%= image_tag('pedro.jpg') %><p>
<b>Pedro Merlo Feter</b><p>
Tres Cantos, Madrid<p>
p.merlofeter@gmail.com<p>
<b>Curriculum Vitae</b><p>
Studies: Telecommunication Engineering at Technical University of Madrid<p>
Languages: Spanish, English, French, German<p>