<html>
  <head>
	<title>Autores</title>
  </head>

  <body>
	<h1>
      Información sobre los creadores
	</h1>

	<p>En esta página podrá encontrar varios datos sobre los creadores
	</p>

	<h4>Alberto Moreno Díaz</h4>
	<%= image_tag('alberto.jpg') %>
	<ul>
  	  <li>Dirección de correo: <a href="mailto:alberto.moreno.diaz@alumnos.upm.es">alberto.moreno.diaz@alumnos.upm.es</a></li>
  	  <li>Dirección física: C/Sin nombre 7, 9ºB, Madrid</li>
  	  <li>Breve currículum: estudiante de 4º curso de Ingeniería de Telecomunicación en la ETSIT. </li>
	</ul>

	<h4>Francisco José Gil García</h4>
	<%= image_tag('francisco.jpg') %>
	<ul>
 	  <li>Dirección de correo: <a href="mailto:fj.gil@alumnos.upm.es">fj.gil@alumnos.upm.es</a></li>
  	  <li>Dirección física: C/Con nombre 2, Bajo Derecha, Villatempujo de arriba</li>
  	  <li>Breve currículum: a rellenar </li>
	</ul>

	<p>Para cualquier duda o problema no dude en contactarnos.</p>
  </body>
</html>