<div id="author"> 
  <h1>Authors: Adrián Parra Rodríguez, Héctor Marfull Verdoy</h1> 
 
  <div id="correos_autores">
    <span><b>Correos electronicos:</b></span>
    <p>Adrián Parra Rodríguez: <a href="mailto:adrian.parra.rodriguez@alumnos.upm.es"> 
        adrian.parra.rodriguez@alumnos.upm.es</a><br>
    Hector Marfull Verdoy: <a href="mailto:h.marfull@alumnos.upm.es"> 
        h.marfull@alumnos.upm.es</a> </p>
  </div>
  <br>
  <div id="imagenes_autores"><b>Imagenes de los autores:</b><p>
  <%= image_tag("foto_adri.png", :class => 'imagen_autores') %>   
  <%= image_tag("foto_hector.jpg", :class => 'imagen_autores') %>  
  </div>
   <br>
  <div id="cv_autores">
  <span><b>Curriculums de los autores:</b></span><br><p>
  <span>Curriculum Adrián: </span><p>
  <%= image_tag("cv_adri-0.png", :class => 'curriculum_autores') %>
  <%= image_tag("cv_adri-1.png", :class => 'curriculum_autores') %> 
  <p>
  <span>Curriculum Héctor: </span><p>
    No disponible todavía.  
  </div>

