<h1>Datos Personales Del Autor</h1>


<div id = "personal-data">
<%= image_tag('fotocarnet.jpg')%>

<ul>
<li> <b>Nombre: </b>Luis Martínez Gallego</li>
<li><b>Dirección: </b> C/Castelao nº 5 5º-A <br> Pontevedra(Galicia) España <br>36001</li>
<li><b>Email:</b> <a href= "mailto:luismg87@gmail.com">luismg87@gmail.com</a></li>

</ul>
</div>

<div id = "cv">
<p align="center" > <b>Curriculum Vitae</b> </p>

<p><b>Formación</b></p>

<ul>
<li>2003 : Título de grado en Educación Secundaria Obligatoria por el instituto Los
Sauces.</li>
<li> 2005: Título de bachiller por el instituto Los Sauces.</li>
<li> Desde 2005 estudiante de Ingeniería en Telecomunicaciones en la universidad
Politécnica de Madrid , realizando actualmente PFC y asignaturas 4º curso.</li>
</ul>
<p><b>Idiomas</b></p>
<ul>
<li> Español: Nativo</li>
<li> Gallego: Nativo</li>
<li> Inglés: B2</li>
<li>Aleman: B1</li>
</ul>

</div>

