<h1>Authors</h1>
<br>
<div id = "fondo1">
<table id = "autor">
	<tr>
		<td>
			<%= image_tag('alvaro.jpg') %>
		</td>
		<td class = "datos">
			<p><b>Álvaro Sánchez Bravo</b></p>
			<p>Las Rozas, Madrid</p>
			<p>
			E-mail: <a href = "mailto:a.sanchezb@alumnos.upm.es">a.sanchezb@alumnos.upm.es</a>
			</p>
		</td>
	</tr>
</table>
</div>
<div id = "fondo2">
<table id = "autor">
	<tr><div class = "cv">
		<p><h2>Curriculum Vitae</h2></p>
		<p><h3>Studies</h3> Telecommunication Engineering at Technical University of Madrid</p>
		<p><h3>Courses</h3>
			<ul>
				<li> 2012: <i>Habilidades profesionales</i> - four hours course by the prestigious enterprise Accenture with certificate. </li>
				<li> 2010: <i>Los Recursos Humanos en la Empresa: Desarrollo de Habilidades</i> - course by Technical University of Madrid about success in job interviews and passing application processes.</li>
			</ul>
		</p>
		<p><h3>Languages</h3>
			<ul>
				<li>Spanish: mother tongue</li>
				<li>English: advanced</li>
				<li>French: basic</li>
			</ul>
		</p>
	</div></tr>
</table>
</div>
<br>
<div id = "fondo1">
<table id = "autor">
	<tr>
		<td>
			<%= image_tag('pedro.jpg') %>
		</td>
		<td class = "datos">
			<p><b>Pedro Merlo Feter</b></p>
			<p>Tres Cantos, Madrid</p>
			<p>
			E-mail: <a href = "mailto:p.merlofeter@gmail.com">p.merlofeter@gmail.com</a>
			</p>
		</td>
	</tr>
</table>
</div>
<div id = "fondo2">
<table id = "autor">
	<tr><div class = "cv">
		<p><h2>Curriculum Vitae</h2></p>
		<p><h3>Studies</h3> Telecommunication Engineering at Technical University of Madrid</p>
		<p><h3>Languages</h3>
			<ul>
				<li>Spanish: mother tongue</li>
				<li>English: advanced</li>
				<li>French: medium</li>
				<li>German: basic</li>
			</ul>
		</p>
	</div></tr>
</table>
</div>