<html>
<h1>
Autores
</h1>
<body>
<form>
<p>Nombre: <input type="text" name='nombre' size='25' value='Arturo'></input></p><BR>
<p>Direccion postal: <input type="text" name='post' size='25' value='C/Holanda,6'></input></p><BR>
<p>Direccion electronica: <input type="text" name='elec' size='25' value='a.romerob@alumnos.upm.es'></input></p><BR>

<%= image_tag('1.jpg') %>

<p> Curriculum:</p><br> <TEXTAREA NAME="cur" ROWS=3 COLS=30 WRAP="hard" value='Estudio'> </TEXTAREA>
</form>
</body>
</html>
