<h1>Author.</h1><p><%= image_tag('author.jpg') %></p><p>Carlos Arroyo Dominguez</p><p>Avenida de Moratalazaz 114 28030 Maddrid (España).</p><p>carroyo.tech@gmail.com</p><p>Estudiante de Ingenieria superior de Telecomunicaciones en la Universidad politecnica de Madrid. </p><p>Analista de seguridad informatica, especialista en sistema SIEM.</p>
