<h1>Authors Planet Site</h1>

<p><b>Nombre:</b> Pablo Coronado Barrios </br>
<%= image_tag("pablo.png")%> 
</p>
<p><b>Dirección:</b> Teresita González Quevedo Nº20 1ºesc 3ºD 28020 MADRID </p>
<p><b>Correo electrónico:</b> pablocb35@gmail.com</p>

<p><strong>Currículum:</strong></br>
<u>Formación académica</u> </br>
Cursando cuarto curso de Ingeniería Superior de Telecomunicación
<strong>Colaboración Proyecto Mavir</strong></br>
Desarrollo de aplicación para Android para recuperar videos sobre información turística.</br> 
Diplomas Mejor Aplicación Android y Práctica más Innovadora</br>
<u>Conocimientos informáticos</u></br>
Windows y paquete Office, Adobe Acrobat e internet nivel usuario avanzado.</br>
Programación en MATLAB, Java, C++, C,  Android, Ruby, Ruby on Rails.
</p>


<p><b>Nombre:</b> Thomas Jeremy Trujillo Medina <br />
<%= image_tag("Thomas.jpg") %>
</p>
<p><b>Dirección:</b><br />
C/Teresita Gonzalez Quevedo nº 20 escalara 1ª piso 3ºd C.P 28020 Madrid
</p>

<p><b>Correo electrónico:</b><br />
tjt.medina@gmail.com <br />
thomasjeremy.trujillo.medina@alumnos.upm.es
</p>
<p><b>Currículum:</b><br />
<u>Formación académica:</u><br />
E.S.O en el instituto I.E.S Adeje II, Adeje (S/C de Tenerife).<br />
Bachillerato Científico-Técnico en el instituto I.E.S Adeje, Adeje (S/C de Tenerife).<br />
Ingeniería en Telecomunicaciones por la Universidad Politécnica de Madrid, actualmente cursando cuarto curso.<br />
<u>Formación complementaria:</u><br />
Conocimientos avanzados de ofimática (Windows, Office, internet…)<br />
Conocimientos básicos del uso de sistemas operativos basado en UNIX<br />
Conocimientos de programación en Java, JavaScript, CSS, Ruby, HTML5, RoR...<br />
<u>Idiomas:</u><br />
Inglés, nivel medio hablado y escrito

</p>