<h1> Autor </h1>

<%= image_tag('foto_perfil.jpg') %>
<ul>
	<li> Nombre: Juan Antonio Zea Herranz </li>
	<li> Dirección: C/ Calabria 18, Madrid </li>
	<li> email: juanantonio.zea.herranz@alumnos.upm.es </li>
	<li> Curriculum: Estudiante de telecomunicación, trabajador de Qindel, empresario en proceso. </li>
<ul>

