<h1>Authors</h1>
<div style="border-style: solid; background-color: #CCC; padding: 8px; margin-top: 8px; width: 500px">
<%= image_tag("chimp1.jpeg",:style=>"float: left; padding: 8px;")%>
<strong>Name:</strong> Alvaro Martin Rodriguez <br />
<strong>Adress:</strong> C/ Ninguna Parte Nº 48 Puerta 1 Piso 5<br />
<strong>Postcode:</strong> 162342<br>
<strong>E-mail:</strong> <a href="mailto:amr@planet.com">amr@planet.com</a><br />
<br /><br />
<strong>CV:</strong><br />
<ul>
	<li>Studies: Still studying at ETSIT UPM, "Ingeniero de Telecomunicaciones"</li>
	<li>Languages: Spanish (mother tongue), English</li>
	<li>Programming Experience: Java, C, RoR, HTML, CSS, Javascript, JQuery</li>
	<li>Work Experience: Private Teacher</li>
</ul>
</div>

<div style="border-style: solid; background-color: #CCC; padding: 8px; margin-top: 8px; width: 500px">
<%= image_tag("chimp2.jpeg",:style=>"float: left; padding: 8px;")%>
<strong>Name:</strong> Tiago Pais Ruivo <br />
<strong>Adress:</strong> C/ Ninguna Parte Nº 48 Puerta 1 Piso 5<br />
<strong>Postcode:</strong> 162342<br />
<strong>E-mail:</strong> <a href="mailto:tpv@planet.com">tpv@planet.com</a><br />
<br /><br />
<strong>CV:</strong><br />
<ul>
	<li>Studies: Still studying at ETSIT UPM, "Ingeniero de Telecomunicaciones"</li>
	<li>Languages: Portuguese, Spanish (mother tongues), English</li>
	<li>Programming Experience: Java, C, RoR, HTML, CSS, Javascript, JQuery</li>
	<li>Work Experience: DIT scholar</li>
</ul>
</div>