<h1>Bienvenido a la sección de los autores de este website</h1>

<p>Aquí podrá encontrar una breve descripción de los autores principales
	de esta página web, así como las formas de contactar con ellos.</p>

<h2> Juan Quemada Vives</h2>
<%= image_tag('juanquemada.jpg')%>

<h3> Catedrático de Ingeniería Telemática </h3>

<p> Catedrático del Departamento de Ingeniería de Sistemas Telemáticos (DIT) en la ETSI Telecomunicación de la Universidad Politécnica de Madrid (UPM), Investigador Principal del Grupo Internet NG (donde se han desarrollado la aplicación Isabel y el Global Plaza), Director de la Cátedra Telefónica para Internet NG, emprendedor y promotor de Agora Systems SA, representante de UPM en el World Wide Web Consortium, realizó la primera conexión en España a un servicio de Internet (email/EUNET) en 1985 junto con otros compañeros. Su investigación se centra en en el diseño de aplicaciones de colaboración, redes sociales y en TIC en education. Tiene una alta participación en proyectos de investigación europeos y nacionales (FI-WARE, GLOBAL Excursion, GLOBAL, ITECBAN, CEPOS, Ecospace, Collaboration@Rural, iCamp, Euro6IX, etc.). Posee múltiples publicaciones en estas áreas.</p>

<h3> Contacto </h3>

<p>+34 91 3367331,  +34 91 3367333 <br> <a href= "mailto:jquemada@dit.upm.es"> juanquemada@dit.upm.es </a> <br>
ETSI Telecomunicación (B-202). Avenida Complutense 30, E-28040 Madrid, Spain </p>


<h2> Daniel Rubio Mesa</h2>
<%= image_tag('danielrubio.jpg') %>

<h3> Estudiante de Ingeniería Superior de Telecomunicación en ETSIT UPM </h3>

<p> Estudiante de 4º-5º curso en las especialidades de Telemática y Gestión de la Tecnología </p>

<h3> Contacto </h3>

<p>+34 91 0000000 <br>  <a href= "mailto:danielrubiomesa@gmail.com"> danielrubiomesa@gmail.com </a> <br>
E-28924 Alcorcón Madrid, Spain</p>