<h1>Author</h1>

<p>
<%= image_tag('jq6.jpg') %><br>
Name: Pepito Pérez<br>
Address: Calle Mayor nº 2, 28001 Madrid<br>
<!--<a href="mailto:mail@mail.com">e-mail</a><br>-->
<a href="mail@mail.com">e-mail</a><br>
Currículum: vago y maleante.
</p>
