<h1>Autores del sitio WEB</h1>

<ul>
  <%= image_tag('Daniel.jpg') %> 
  <li><b> Nombre:</b> Daniel García León </li>
  <li><b> Dirección:</b> Calle Ramiro de Maeztu, 2 </li>
  <li><b> Mail: </b><a href="mailto:dgarciale@gmail.com"> dgarciale@gmail.com</a> </li>
  <li><b> Curriculum:</b>
    <ul>
      <li> Estudiante de 4º de Ingeniería en Telecomunicación en la Universidad Politécnica de Madrid.</li>
    </ul>
  </li>
</ul>

<ul>
  <%= image_tag('marina.JPG') %>  
  <li><b>Nombre:</b> Marina González</li>
  <li><b>Dirección postal:</b> Paseo Juan XXIII, Madrid</li>
  <li> Mail: <a href="mailto:m.gonzalezc@alumnos.upm.es"> m.gonzalezc@alumnos.upm.es</a> </li>
  <li><b>Currículum:</b>
    <ul>
      <li> Estudiante de 4º de Ingeniería en Telecomunicación en la Universidad Politécnica de Madrid.</li>
    </ul>
  </li>
</ul>




