<h1>Autores</h1>

<table>
	<tr>
		<td><strong>Nombre</strong></td>
		<td><p>Fernando Serra Parri</p></td>
		<td><p>Alfredo Schoch López</p></td>
	</tr>
	<tr>
		<td><strong>Dirección postal</strong></td>
		<td>Carrer Pisuerga, 08028,Barcelona,Catalunya (spain)</td>
		<td>Urbanización Las Fuentes nº33, Collado Villalba, 28400 (Madrid)</td>
	</tr>
	<tr>
		<td><strong>Dirección electrónica</strong></td>
		<td><a href = "mailto:nandoserra_23@hotmail.com">nandoserra_23@hotmail.com</a></td>
		<td><a href = "mailto:alfredoschoch@gmail.com">alfredoschoch@gmail.com</a></td>
	</tr>
	<tr>
		<td><strong>Fotografía</strong></td>
		<td><%= image_tag('autorverdadero.png') %></td>
		<td><%= image_tag('alfredo.png') %></td>
	</tr>
	<tr>
		<td><strong>CV</strong></td>
		<td><b>Curriculum</b><p>
		Estudios: Ingeniería de Telecomunicación, UPM, Especialidad: Telemática <p>
		Idiomas:<br>
		<ul>
			<li type='circle'> Castellano: Medio </li>
			<li> Inglés: Alto </li>
			<li> Alemán: Medio </li>
			<li type ='square'> Català: Llengua materna </li>
		</ul></td>
		<td><b>Curriculum</b><p>
		Estudios: Ingeniería de Telecomunicación, UPM, Especialidad: Telemática <p>
		Idiomas:<br>
		<ul>
			<li type='circle'> Castellano: Lengua materna </li>
			<li> Inglés: Alto </li>
			<li> Francés: Medio </li>
		</ul></td>
	</tr>
</table>


