<h1>Autores:</h1>

<table id="cv">
  <tr>
    <td>
      <ul>
        <li>Nombre: Fernando Valdenebro González </br>	
        <li>Dirección postal: C/Posadas Nº.1, San Ildefonso, SEGOVIA, ESPAÑA  </br>	
        <li>Email: fernandolg_upm@hotmail.com</br>
        <li>Fecha de nacimiento: 14/09/1989</br>
        <li>Estudios: Ingeniero de Telecomunicación (ETSIT-UPM)</br> 
        <li>Especialidad: Telemática </br>
      </ul>
    </td>
    <td>
      <%= image_tag('fer.jpg') %>
    <td>
  <tr>
    <td>
      <ul>
        <li>Nombre: Antonio José Turel Rodríguez </br>	
        <li>Dirección postal: (sin definir)</br>	
        <li>Email: antonioturel@gmail.com</br>
        <li>Fecha de nacimiento: (sin definir)</br>
        <li>Estudios: Ingeniero de Telecomunicación (ETSIT-UPM)  </br> 
        <li>Especialidad: Telemática </br>
        </td>
      <td>
      <%= image_tag('antonio.jpg') %>  
      <td>
</table>

