.cabecera{text-align:center;margin-left:50;}
.autor1{color:red;clear:both;float:left; margin:300;background-color:#fc0;text-align:center;}
.autor2{float:right;margin-left:600;background-color:#0cf;padding: 5px}
.container{ margin-left:30;}
