<h1>Author's Page</h1>

<%= image_tag('author.png') %>

<h2>Fausto Rodrigues</h2>

<div class="autor_info">
	<hr>
	<p>>>Personal data:</p>
	<ul>
		<li><b>Name:</b> Fausto Rodrigues</li>
		<li><b>Address:</b> Call Melendez Valdes, 39, Madrid, España</li>
		<li><b>Email:</b> f4usto@gmail.com</li>
	</ul>
	<hr>
	<p>>>Simple Curriculum Vitae:</p>
	<ul>
		<li><b>Academic:</b> Universidade de São Paulo (Brasil) / Universidad Politecnica de Madrid (Erasmus)</li>
		<li><b>Professional:</b> TinkerLabs Group - Tiendalista(2012 - Actual)</li>
		<li><b>Programing Skills:</b>C, Assembly, PHP, Javascripts/JQuery, HTML, Ruby/RoR</li>
		<li><b>Interests:</b> Sports, Rollers, Movies</li>
	</ul>
	
</div>


