<h1>Authors</h1>
<p>
<b>Nombre:</b> Carlos Crespo González <br>
<b>Dirección postal:</b> c/Bravo Murillo 333, 2ºD<br>
<b>Código postal:</b> 28020<br>
<b>E-mail:</b> <a href="mailto:carlos.crespog@gmail.com">carlos.crespog@gmail.com</a><br>
<%= image_tag("carlos.jpg") %><br />
<b>Breve currículum:</b><br>
<ul>
	<li>Estudios:"Ingeniero de Telecomunicaciones" ETSI de Telecomunicación,Universidad Politécnica de Madrid (UPM)</li>
	<li>Idiomas: Español (lengua materna), Inglés</li>
	<li>Lenguajes de programación: HTML, CSS, Javascript, JQuery, Java, C, RoR, Android, NodeJs</li>
	<li>Experiencia laboral: Grupo de sistemas inteligentes (GSI) - UPM</li>
</ul>
</p>

<p>
<b>Nombre:</b> Enrique García Navalón<br>
<b>Dirección postal:</b> c/ Paseo de la Castellana 110, 4ºC<br>
<b>Código postal:</b> 28018<br>
<b>E-mail:</b> <a href="mailto:garcianavalon@gmail.com">garcianavalon@gmail.com</a><br>
<%= image_tag("quique.jpg") %><br />
<b>Breve currículum:</b><br>
<ul>
	<li>Estudios:"Ingeniero de Telecomunicaciones" ETSI de Telecomunicación,Universidad Politécnica de Madrid (UPM)</li>
	<li>Idiomas: Español (lengua materna), Inglés, Francés</li>
	<li>Lenguajes de programación: HTML, CSS, Javascript, JQuery, Java, C, RoR</li>
	<li>Experiencia laboral: Vigo Electronics & Science</li>
</ul>
</p>