
<h1>
	Autores</h1>
<div id="author-photo"><%= image_tag('foto.png') %></div><ul>
<ul>
	<li>
		Raul de Pablos Martin
		<ul>
			<li>
				Estudiante de la ETSI Telecomunicacion
				<ul>
					<li>
						4&ordm; Curso</li>
				</ul>
			</li>
			<li>
				Aficiones: Tecnolog&iacute;a, deporte, m&uacute;sica y motos.</li>
			<li>
				raulmerlin@gmail.com</li>
		</ul>
	</li>
</ul><br/>
<ul>
	<li>
		Rub&eacute;n Valero Garc&iacute;a
		<ul>
			<li>
				Estudiante de la ETSI Telecomunicaci&oacute;n
				<ul>
					<li>
						4&ordm; Curso</li>
				</ul>
			</li>
			<li>
				Aficiones: M&uacute;sica</li>
			<li>
				rubevalero@gmail.com</li>
		</ul>
	</li>
</ul>
<p>
	&nbsp;</p>

