<h1>Welcome to the Planet Travel Site</h1>
<p>This site gathers information from all yes of touristic sites from all over the world and should help you to organize your trips and your holidays.</p>


<div id="slider-block">
	<div id="slider-holder">
		<div id="slider">
			<%= image_tag('foto.jpg', :title=>'Paisaje de atardecer') %>
			<%= image_tag('02.jpg', :title=>'Puesta de Sol') %>
			<%= image_tag('paisaje.jpg', :title=>'Chamonix') %>
		</div>
	</div>
</div>
<p>Feel free to use it for your convenience and pleasure.</p>
