<h1>Búsqueda</h1>

<!-- buscar en los nombres y en la descripcion de los sitios y los viajes -->

<div id = "sitios" style = "width: 50%; float: left;">
	Resultados en sitios:<br>

</div>

<div id = "viajes" style = "width: 50%; float: left;">
	Resultados en viajes:<br>
	A<br>
	B<br>
	A<br>
	B<br>
	A<br>
	B<br>
</div>