<div id="site_list"> 
  <h1>Resultados en sitios</h1> 
 
  <%= render 'sites/sites' %>
</div> 

<div id="site_list"> 
  <h1>Resultados en viajes</h1> 
 
  <%= render 'trips/trips' %>
</div>
