<h1>Búsqueda</h1>

<div id = "sitios" style = "width: 50%; float: left;">
	Resultados en sitios:<br>
	A<br>
	B<br>
	A<br>
	B<br>
	A<br>
	B<br>
	A<br>
	B<br>
	A<br>
	B<br>
	A<br>
	B<br>
	A<br>
	B<br>
	A<br>
	B<br>

</div>

<div id = "viajes" style = "width: 50%; float: left;">
	Resultados en viajes:<br>
	A<br>
	B<br>
	A<br>
	B<br>
	A<br>
	B<br>
</div>