<h1>Listing Ordered Types</h1> 
 
<table id = "tabla"> 
    <%= render @types %>
</table> 

<br/>
<% if current_user != nil %>
  <% if current_user.name == 'admin' %>
    <p><%= link_to 'New Type', new_type_path %></p>
  <% end %>
<% end %>