/*AUTORES*/

#autor{
}

.datos {
	padding-left: 30px;
}

.cv {
	width: 900px;
}

#fondo1 {
	background-color: #5c7c77;
	width: 900px;
	color: #FFFFFF;
}

#fondo1 a {
	color: #b2be3b;
}

#fondo2 {
	background-color: #ebf2f1;
	width: 900px;
}

#fondo2 h2 {
	color: #5c7c77;
	font-size: 25px;
}

#fondo2 h3 {
	color: #5c7c77;
	font-size: 20px;
}