/* Global styles (no utilizados de momento) */
body {
	width: 900px;
	margin:0 auto 15px auto;
	float: center;
	background:url(background.jpg) top left repeat;
}
#planet #notice {
		width: 900px;
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#planet h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

#planet h3 {
        font:  120% sans-serif;
        color: #226;       
}

/* Styles for products/index */

#site_list table {
        border-collapse: collapse;
}

#site_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#site_list .list_image {
  width:        60px;
  height:       70px;
}

#site_list .list_description {
  width:        60%;
}

#site_list .list_description dl {
        margin: 0;
}

#site_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#site_list .list_description dd {
        margin: 0;
}

#site_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#site_list .list_line_even {
  background:   #a8b8f8;
}

#site_list .list_line_odd {
  background:   #88b0f8;
}


/* START:mainlayout */
/* Styles for main page */

#banner {
  height: 200px;
  background:url(header.jpg) top left no-repeat;
  margin-top: 10px;
  padding-bottom: 5px;
  color: #77E;
  text-align: center;
}

#site {
 height: 450px;
}
#top-navigation{
	width: 900px;
	height: 4px;
	background:url(topbar.png) top left no-repeat;

}
#columns {
	width: 900px;
	background:url(sidebar.png) top left repeat-y;

}

#main {
  width: 850px;
  margin-left: 2em;  /* Ajuste de borde izquierdo */
  margin-right: 2em;  /* Ajuste de borde izquierdo */
  padding-top: 4ex;
  background: white;
}

#full-footer {
  width: 900px;
  height: 30px;
  background: #000;
}
#footer {
  width: 900px;
  padding-top: 5px;
  background: #000;
}

#footer a {  
  background: #000;
  padding-left: 2em;
  color: #F86;
  font-size: small;
  text-decoration: none;
}
#footer a:hover {   
  background: #000; 
  color: #fff;
  font-size: small;
}

#leftauthor{
 width: 49%;
 float: left;
 margin-right: 5px;
}
#rightauthor{
 width: 49%;
 float: right;
margin-right: 5px;
}


/* END:mainlayout */

/* An entry in the store catalog (no utilizados de momento) */

#planet  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#planet  .name {
  font-size: 120%;
  font-family: sans-serif;
}

#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#store .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#store .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#store .entry .price_line {
 clear: both;
 margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry  .price {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}

#map_canvas {
 width: 400px;	
 height: 400px;
 float: right;	
 margin-right: 100px;
}

#search {
  position:relative;
  float: left;
  color: #000;
  padding-left: 15px;
  padding-top: 10px;
  font-size: small;  
  
}

#user {
  position: absolute;
  padding-top:35px;
  padding-left: 18px;
  float: left;
  color: #000;
  font-size: small;

}
#full-menu{
	width:900px;
	padding-top:1px;
}

#tripmap {
	width: 800px;
	position: absolute;
	float: right;
	margin-top: -160px;
}

#trip_sites{
	padding-top: 250px;
}

#menu {width:800px; height:45px; margin:10px; background:url(home.png) left top; position:relative;}
#menu ul {padding:0; margin:0; list-style:none; position:absolute; left:0; top:0; width:800px; height:45px; z-index:10;}
#menu ul li {float:left; padding:0;}
#menu ul li#li1 {padding-left:40px;}
#menu li a {display:block; height:30px; float:left; color:#fff; text-decoration:none; line-height:30px; padding:0 10px; font-family:arial, sans-serif; font-size:14px; border-right:1px solid #bbb; margin-top:5px;}
#menu li#li10 a {border:0;}

#menu li#li1 a  {background:url(home.png) no-repeat left 100px;}
#menu li#li2 a {background:url(home.png) no-repeat left 100px;}
#menu li#li3 a {background:url(home.png) no-repeat left 100px;}
#menu li#li4 a  {background:url(home.png) no-repeat left 100px;}
#menu li#li5 a  {background:url(home.png) no-repeat left 100px;}
#menu li#li6 a  {background:url(home.png) no-repeat left 100px;}
#menu li#li7 a  {background:url(home.png) no-repeat left 100px;}
#menu li#li8 a  {background:url(home.png) no-repeat left 100px;}
#menu li#li9 a  {background:url(home.png) no-repeat left 100px;}
#menu li#li10 a  {background:url(home.png) no-repeat left 100px;}

#menu li a:hover {color:#000; white-space:nowrap;}
#menu li a.current {color:#ff0;}
#menu li a:hover.current {color:#ff0;}


