// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#site_map {
	width: 600px;
	height: 300px;
	border: 1px solid black;
}