#trip_sites {
	float: left;
}

#trip_datos {
	width: 500px;
}

#trip_canvas {
	float: right;
	width: 450px;
	height: 290px;
	border: 1px solid black;
}

#trip_bottom {
	background-color: #0f0;
	margin-top: 300px;
}