// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#trip_map {
	width: 800px;
	height: 450px;
	border: 1px solid green;
}
