<%= form_for([@site, @site.comentarios.create(:user_id=>current_user,:site_id=>@site)]) do |f| %>
<div class="field">
  </div>
  <div class="field">
    <%= f.text_area :coment , :rows => 4 %>
  </div>
  <div class="actions">
    <%= f.submit "nuevo comentario"%>
  </div>
<% end %>
