<!DOCTYPE html 

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>Ejemplo del API JavaScript de Google Maps</title>
<script
src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=la_clave"
type="text/javascript"></script>
<script type="text/javascript">
function load() {
if (GBrowserIsCompatible()) {
var map = new GMap2(document.getElementById("map"));
map.setCenter(new GLatLng(43.354810,-5.851805), 14);
}
}

</script>
</head>
<body onload="load()" onunload="GUnload()">
<div id="map" style="width: 500px; height: 300px"></div>
</body>
Elemento
</html>

