<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      if (navigator.geolocation) { //Check if browser supports W3C Geolocation API
        navigator.geolocation.getCurrentPosition (displayPosition, errorFunction);
      } else { alert('Geolocation is not supported in this browser.'); }

      function displayPosition(position){     
        latitud = position.coords.latitude;
        longitud = position.coords.longitude;
        $("#latitud").val(latitud);
        $("#longitud").val(longitud);
      }

      function errorFunction(position) { alert('Error!'); }
    </script>
  </head>

  <body>
    <%= render 'form' %>
  </body>
</html>
