<div id="site_list"> 
  
  <h1>Listing Sites</h1> 

  <table id = "tabla"> 
    <%= render @sites %>
  </table> 

</div>  

<br />

<% if current_user != nil %>
	<%= link_to 'New site', new_site_path %>
<% end %>