<div id="site_list"> 
  <h1><%= @sites == Site.all ? "Todos los sitios" : Type.find(params[:type_id]).name %></h1> 
 
  <%= render 'sites' %>
</div> 

<div id='options'> 
  <%= link_to 'New site', new_site_path %>
</div>